{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename="css/menuNutricionista.css") }}"/>
{% endblock %}
{% block main %}
    <div class="row">
        <div id="menu-container" class="col-3">
            <div id="user-container" class="row">
                <div id="foto-perfil-container" class="col-4">
                    <i id="foto-perfil" class="fas fa-user-circle f-4"></i>
                </div>
                <div class="col-8">
                        <p class="nome-usuario">{{ current_user.name }} Emerson Carbonaro</p>
                        <p class="username-usuario">{{ current_user.username }} emersoncarbono </p>
                </div>
            </div>
            <div class="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("cadastrarPacienteRoute") }}">Gerenciar Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("listarPacienteRoute") }}">Consultar Paciente</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
{% block js%}<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>{% endblock %}