{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <div class="col-4 bg-primary">
                    foto
                </div>
                <div class="col-8 bg-primary">
                        <p>Emerson Carbonaro</p>
                        <p>programador</p>
                </div>
            </div>
            <div class="">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ url_for("cadastrarPacienteRoute") }}">Gerenciar Cliente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for("listarPacienteRoute") }}">Consultar Paciente</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-9">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}