<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nutrin {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap/node_modules/bootstrap/compiler/bootstrap.css") }}"/>
    {% block css %}{% endblock %}
</head>
<body>
    <!-- NavBar -->
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand h1 mb-0" href="{{ url_for("indexRoute") }}">Nutrin</a>
            {% if current_user.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user.name }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if current_user.tipo == "N" %}
                        <a class="dropdown-item" href="{{ url_for("areaNutricionistaRoute") }}">Area da nutricionista</a>
                    {% elif current_user.tipo == "P" %}
                        <a class="dropdown-item" href="#">Area do paciente</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for("logout") }}">Logout</a>
                </div>
            </div>
            {% else %}
                <a class="nav-link" href="{{ url_for("loginRoute") }}">Login</a>
            {% endif %}
        </div>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-warning"></div>
                <ul class=flashes>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}
    
    {% block main %}
    {% endblock %}
    <footer class="bg-dark">
            <div class="container">
                <div class="row p-5  text-light">
                    <div class="col-sm-4">
                    <h3>Sobre</h3>
                    <p> Nutricionista Aline, formada em nutrição com mais de 4 anos de experciencia no mercado. </p>
                    <!-- <p>Aliquam erat volutpat. In auctor dolor id eros pharetra, mollis pretium neque elementum. Sed eu commodo ligula. Fusce rhoncus tellus sollicitudin,</p> -->
                    </div>
                    <div class="col-sm-4">
                    <h3>Serviços</h3>
                    <div class="list-group text-center">
                        <a class="list-group-item list-group-item-action list-group-item-primary" href="#">Consultas</a>
                        <a class="list-group-item list-group-item-action list-group-item-primary" href="#">Dietas</a>
                        <a class="list-group-item list-group-item-action list-group-item-primary" href="#">Programas de Treino</a>

                    </div>
                    </div>
                    <div class="col-sm-4">
                    <h3>Social</h3>
                    <div class="btn-group-vertical btn-block btn-group-lg" role="group">
                        <a class="btn btn-outline-primary" href="#"><i class="fab fa-facebook"></i> Facebook</a>
                        <a class="btn btn-outline-primary" href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                        <a class="btn btn-outline-primary" href="#"><i class="fab fa-instagram"></i> Instagram</a>
                        <a class="btn btn-outline-primary" href="#"><i class="fab fa-github-square"></i> WhatsApp</a>

                    </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../static/bootstrap/node_modules/jquery/dist/jquery.js"></script>
        <script src="../static/bootstrap/node_modules/popper.js/dist/umd/popper.js"></script>
        <script src="../static/bootstrap/node_modules/bootstrap/dist/js/bootstrap.js"></script>
        
        {% block js%}{% endblock %}
</body>
</html>