{% if current_user.tipo == "N" %}
    {% extends 'areaNutricionista/areaNutricionista.html '%}
{% endif %}
{% block content %}
    <form action="" method="POST" class="my-5">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="name">Nome:</label>
            {{ form.name(class="form-control", placeholder="Nome do paciente", id="name", value=response.Dados.0.name )}}
            {% if form.errors.name %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.name %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email(class="form-control", placeholder="Email do paciente", id="email", value=response.Dados.0.email) }}
            {% if form.errors.email %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.email %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="dataNascimento">Data de nascimento:</label>
            {{ form.dataNascimento(class="form-control", id="dataNascimento", type="date", value=response.Dados.0.dataNascimento) }}
            {% if form.errors.dataNascimento %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.dataNascimento %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="sexo">Sexo:</label>
            {{ form.sexo(class="form-control", id="sexo") }}
            {% if form.errors.sexo %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.sexo %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="cidade">Cidade:</label>
            {{ form.cidade(class="form-control", id="cidade", placeholder="Cidade do paciente",value=response.Dados.0.cidade ) }}
            {% if form.errors.cidade %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.cidade %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="profissao">Profissão:</label>
            {{ form.profissao(class="form-control", id="profissao", placeholder="Profissão do paciente", value=response.Dados.0.profissao) }}
            {% if form.errors.profissao %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.profissao %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="celular">Celular:</label>
            {{ form.celular(class="form-control", id="celular", placeholder="Celular do paciente", value=response.Dados.0.celular) }}
            {% if form.errors.celular %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.celular %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="objetivo">Objetivo:</label>
            {{ form.objetivo(class="form-control", id="objetivo", placeholder="Objetivo do paciente", value=response.Dados.0.objetivo) }}
            {% if form.errors.objetivo %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.objetivo %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username(class="form-control", id="username", placeholder="Username do paciente", value=response.Dados.0.username) }}
            {% if form.errors.username %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.username %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            {{ form.password(class="form-control", id="password", placeholder="Senha do paciente") }}
            {% if form.errors.password %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.password %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="c_password">Confirmar Senha:</label>
            {{ form.c_password(class="form-control", id="c_password", placeholder="Confirmar senha do paciente") }}
            {% if form.errors.c_password %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.c_password %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Cadastrar</button>
    </form>


{% endblock %}
{% block js %}
<script src="../static/js/jquery-mask/jquery.mask.min.js"></script>
<script src="../static/js/cadastroPaciente.js"></script>
{% endblock %}