{% extends 'base.html' %}
{% block title %}
    {{super()}} - Login
{% endblock %}
{% block main %}
<div class="container my-5 " >
    <h2 class="text-center">Login</h2>
    <form class="col-md-6 col-sm-12 mx-auto" action="" method="POST">
        {{form.csrf_token }}
        <div class="form-group">Usuário:</label>
            {{ form.username(class="form-control", placeholder="Nome de usuário", id="username") }}
            {% if form.errors.username %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                    {% for e in form.errors.username %}
                        <li>{{ e }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="pwd">Senha:</label>
            {{ form.password(class="form-control", id="pwd") }}
            {% if form.errors.password %}
                <div class="alert alert-danger" role="alert">
                    <ul>
                        {% for e in form.errors.password %}
                            <li>{{ e }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-3 mx-auto">
            <button type="submit" class="btn btn-default">Entrar</button>
        </div>
    </form>
</div>
{% endblock %}